<div class="main__right right">

  <section id="about" class="right__section about">

    <!-- <div class="about__layer1">
      <select class="about__language" name="" id="">
        <option value="1">EN-US</option>
        <option value="2">PT-BR</option>
      </select>
    </div> -->

    <div class="about__layer2">
      <h1 class="about__title">Hi, i'm Henrique Albuquerque.</h1>
      <h1 class="about__title">I'm a software developer based in São Paulo, Brazil.</h1>

      <div class="about__bar"></div>
    </div>

    <div class="about__layer3">
      <h3 class="about__subtitle">Experience</h3>
      <p class="about__experience">
        <b>2020/01</b> - IT Intership at <a href="https://www.safra.com.br/">Bank Safra</a>. Givin support to existing
        applications in ASP.net and developing the intern database with PL/SQL.
        <br> <br>
        <b>2021/06</b> - Fullstack Developer at <a href="https://www.safra.com.br/">Bank Safra</a>. Mapping, prototyping
        and developing applications with Angular, NodeJS, .NET CORE and FIGMA.

      <h3 class="about__subtitle">About me</h3>
      <p class="about__experience">
        I've been working and studying front-end development since 2019. I love css and i'm a big enthusiast of threejs
        creative websites.
        <br>
        I'm quite experienced in developing Angular applications, i've working with it for about a year right now. Also
        familiar with API development in NodeJS and .NET CORE.
        <br>
        For my designs, my tool of choice is always Figma.
        <br>
      </p>
    </div>

  </section>

  <section id="projects" class="right__section projects">
    <app-projects></app-projects>
  </section>

  <section id="blogs" class="right__section socials">
    <app-blog></app-blog>
    <app-socials></app-socials>
  </section>

</div>
