@import '../../../_base'
@import '../../../_responsive'

.container
  height: 100%
  width: 100%
  @include flx-center(column, flex-start, flex-start)

.title
  margin-bottom: 2rem

.projects
  // @include flx-center(row, flex-start, flex-start)
  // flex-wrap: wrap
  width: 100%
  display: grid
  row-gap: 1rem
  justify-content: space-between
  grid-template-columns: repeat(auto-fill, 300px)
