@import '../../../_base'
@import '../../../_responsive'

.container
  height: auto

.title
  margin: 2rem 0

.projects
  @include flx-center(row, flex-start, flex-start)
  flex-wrap: wrap
  gap: 2rem
  width: 100%
  height: auto

.big-cards
  @include for-phone-only
    @include flex(column, flex-start, center)
  @include flx-center(row, flex-start, center)
  position: relative
  gap: 1rem
  margin-bottom: 2rem
  cursor: grab
  overflow-x: hidden
  overflow-y: hidden
  will-change: transform
  user-select: none
  cursor: pointer
  touch-action: none
