<main class="main">
  <div class="main__left left">
    <ul class="left__menu">
      <li class="left__item" (click)="goTo('about')">ABOUT</li>
      <li class="left__item" (click)="goTo('projects')">PROJECTS</li>
      <li class="left__item" (click)="goTo('designs')">DESIGNS</li>
      <li class="left__item" (click)="goTo('socials')">SOCIALS</li>
    </ul>
  </div>
  <div class="main__right right">

    <section id="about" class="right__section about">

      <div class="about__layer1">
        <select class="about__language" name="" id="">
          <option value="1">EN-US</option>
          <option value="2">PT-BR</option>
        </select>
      </div>

      <div class="about__layer2">
        <h1 class="about__title">Hi</h1>
        <h1 class="about__title">I'm a software developer based in São Paulo, Brazil.</h1>

        <div class="about__bar"></div>
      </div>

      <div class="about__layer3">
        <h3 class="about__subtitle">Experience</h3>
        <p class="about__experience">Currently working at <a href="https://www.safra.com.br/">Bank Safra</a> since 2020/01 as a software engineer.
         Developing enterprise level systems using primary Angular 8+, NodeJS and .NET CORE. Also using Oracle Database.</p>


        <h3 class="about__subtitle">Tech</h3>
        <p class="about__experience">I feel confortable working with angular 8+ for front-end,
           i've bootstraped many angular projects, thus used multiple librarys with it. Also, i love to use figma for any prototyping and validation that is required by the projects.</p>
        <p class="about__experience">For backend applications, i'm very used to NodeJS and still learning and practicing a bit with .NET CORE.</p>
      </div>

    </section>

    <section id="projects" class="right__section">
      <h1>PROJECTS</h1>
    </section>

    <section id="designs" class="right__section">
      <h1>DESIGNS</h1>
    </section>

    <section id="socials" class="right__section">
      <h1>SOCIALS</h1>
    </section>

  </div>
</main>
