@import '../../../_base'
@import '../../../_responsive'

.blog
  margin-top: 32px
  height: 80vh
  .content
    height: 100%
    @include flex(column, center, center)
    p
      position: relative
    &__big-text
      letter-spacing: 1px
      letter-spacing: 0px
      font-size: 5rem
      font-weight: 300
    &__small-text
      margin-top: 1rem
      font-size: 2rem
